# Domain of service
DOMAIN=도메인주소

#Mysql
MYSQL_ROOT_PASSWORD=root 계정 비밀번호
MYSQL_USER=신규 생성 유저명
MYSQL_PASSWORD=유저 비밀번호
MYSQL_DATABASE=DATABASE 이름

#S3
REGION=s3 지역
ACCESS_KEY=S3 IAM access key
SECRET_KEY=S3 IAM secret key
BUCKET=S3 Bucket이름

#mail - naver 계정만 가능
MAIL_USERNAME=naver 아이디
MAIL_PASSWORD=naver 비밀번호
